<template>
  <div class="app-personal layout-container">
    <div class="form-block text-center p-2">
      <img :src="require('../../../assets/images/camp/' + submitCamp.file)" style="width: 200px; padding: 30px 0 15px 0;"> <br>
      <div class="h2 pb-2" style="font-weight: bold;">{{submitCamp.name}}</div>
      <b>พี่ได้รับข้อมูลของน้องเรียบร้อยแล้วครับ</b> <br> ประกาศผู้ผ่านการคัดเลือกในวันที่ 13 พฤษภาคม 2561 นี้ <br> และอย่าลืม เข้ามาร่วมพูดคุยกับพี่ๆ และเพื่อนๆคนอื่นๆ ได้ในกรุ๊ป <br>
      <a href="https://www.facebook.com/groups/ITCampSociety/about/">ITCAMP Society @ITKMITL</a> นะครับ <br>
      <br><br> ติดตามรายละเอียดเพิ่มเติมได้ที่
      <a href="https://facebook.com/itcampKMITL">Facebook</a> หรือ Twitter: @ITCAMP
      <div class="row announce-button mb-1" v-if="userSelected">
        <router-link :to=" { name: 'Announce_Login'} " class="button-border ">
          <div class="button-core ">
            ยืนยันสิทธิ์
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
  name: 'Summary',
  data() {
    return {
      submitCamp: {
        file: null,
        name: null
      },
      userSelected: false
    };
  },
  computed: {
    ...mapState(['userProgress'])
  },
  methods: {
    ...mapActions(['checkConfirm'])
  },
  created() {
    this.checkConfirm()
      .then((response) => {
        if (response.data.message == 'Completed!') this.userSelected = true;
      })
      .catch((err) => {});
    switch (this.userProgress.camp) {
      case 'IOT':
        this.submitCamp.file = 'opollo.svg';
        this.submitCamp.name = 'I-OPOLLO';
        break;
      case 'NETWORK':
        this.submitCamp.file = 'network.svg';
        this.submitCamp.name = 'NETWORK STELLAR';
        break;
      case 'APP':
        this.submitCamp.file = 'applidanus.svg';
        this.submitCamp.name = 'APPLIDANUS';
        break;
      case 'DATA':
        this.submitCamp.file = 'dta48.svg';
        this.submitCamp.name = 'DTA48';
        break;
      case 'GAME':
        this.submitCamp.file = 'gameorion.svg';
        this.submitCamp.name = 'GAME ORION';
        break;
    }
  }
};
</script>

<style>

</style>
