<template>
  <div class="app-announce">
    <div class="announce-header">
      <div class="announce-profile row m-0">
        <div class="col-12 text-right" v-if="getUserInfo">
          <span>{{getUserInfo.name}}</span>
          <a href="/14/api/auth/logout">
            ออกจากระบบ
            <i class="fas fa-power-off"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="announce-wrapper">
      <div class="annnounce-content">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Announce',
  data() {
    return {};
  },
  methods: {},
  computed: {
    ...mapGetters(['getUserInfo'])
  }
};
</script>

<style>

</style>
