<template>
  <div class="backend-choose-applicant">
      <section class="content-header">
        <h1>
          จัดการผู้สมัคร
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">



        <div class="box box-solid box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">กล่องควบคุม</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12" style="margin-bottom: 0.8rem;">
                <button class="btn btn-info" id="btn-clear-search" data-target="all">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงผู้สมัครทั้งหมด</button>
              </div>
              <div class="col-xs-12" id="camp-control" style="margin-bottom: 0.8rem;">
                <button class="btn btn-primary btn-campapp" data-target="camp_app">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงค่าย AppVira</button>
                <button class="btn btn-primary btn-campgame" data-target="camp_game">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงค่าย GamePersky</button>
                <button class="btn btn-primary btn-campnetwork" data-target="camp_network">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงค่าย NetworkTon</button>
                <button class="btn btn-primary btn-campiot" data-target="camp_iot">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงค่าย IoTSecure</button>
                <button class="btn btn-primary btn-campdatasci" data-target="camp_datasci">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงค่าย DataScan</button>
              </div>
              <div class="col-xs-12" id="status-control">
                <button class="btn btn-primary btn-applicant-pending" data-target="SELECT">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงผู้สมัครที่ผ่านการคัดตัวจริง</button>
                <button class="btn btn-primary btn-applicant-checked" data-target="RESERVE">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงผู้สมัครที่ผ่านการคัดตัวสำรอง</button>
                <button class="btn btn-primary btn-applicant-reject" data-target="REJECT">
                  <i class="fa fa-bars" aria-hidden="true"></i> แสดงผู้สมัครที่ไม่ผ่านการคัด</button>
              </div>
            </div>
          </div>
        </div>

        <div class="box box-solid box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">จำนวนปัจจุบัน</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Camp</th>
                  <th>Application</th>
                  <th>Game</th>
                  <th>Network</th>
                  <th>IoT</th>
                  <th>Datasci</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SELECT</td>
                  <td class="camp_app-select">30</td>
                  <td class="camp_game-select">30</td>
                  <td class="camp_network-select">30</td>
                  <td class="camp_iot-select">30</td>
                  <td class="camp_datasci-select">30</td>
                </tr>
                <tr>
                  <td>RESERVE</td>
                  <td class="camp_app-reserve">10</td>
                  <td class="camp_game-reserve">10</td>
                  <td class="camp_network-reserve">10</td>
                  <td class="camp_iot-reserve">10</td>
                  <td class="camp_datasci-reserve">10</td>
                </tr>
                <tr>
                  <td>REJECT</td>
                  <td class="camp_app-reject">14</td>
                  <td class="camp_game-reject">3</td>
                  <td class="camp_network-reject">23</td>
                  <td class="camp_iot-reject">13</td>
                  <td class="camp_datasci-reject">5</td>
                </tr>
              </tbody>
            </table>
            <span class="text-info">
              <b>*แถบสีฟ้า</b>
            </span> ไม่ได้ตอบคำถามรองประธาน
            <br>
            <span class="text-warning">
              <b>*แถบสีเหลือง</b>
            </span> เด็กแคมป์เก่า
            <br>
            <span class="text-danger">
              <b>*แถบสีแดง</b>
            </span> เด็กแคมป์เก่าและไม่ได้ตอบคำถาม
            <br>
          </div>
        </div>

        <div class="box box-default">
          <div class="box-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                  <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label>Search:
                      <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover applicant-table dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                      <tr role="row">
                        <th width="60" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending"
                          aria-label="ID: activate to sort column descending">ID</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ชื่อ - นามสกุล: activate to sort column ascending">ชื่อ - นามสกุล</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ค่าย: activate to sort column ascending">ค่าย</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="สถานะการคัดเลือก: activate to sort column ascending">สถานะการคัดเลือก</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ประธาน: activate to sort column ascending">ประธาน</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="รองประธาน: activate to sort column ascending">รองประธาน</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="สันทนาการ: activate to sort column ascending">สันทนาการ</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ค่ายย่อย: activate to sort column ascending">ค่ายย่อย</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="รวม: activate to sort column ascending">รวม</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="User: activate to sort column ascending">User</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd" role="row">
                        <td class="sorting_1">1</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/1" target="_blank">นางสาวณัจฉรียา หวังอำนวยพร</a>
                        </td>
                        <td>AppVira</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="1" data-camp="camp_app" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>6.00</td>
                        <td>2.50</td>
                        <td>14.00</td>
                        <td>32.50</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/1/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">2</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/2" target="_blank">นายสัณหวัช ศรีมีทรัพย์</a>
                        </td>
                        <td>NetworkTon</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="2" data-camp="camp_network" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>7.00</td>
                        <td>3.00</td>
                        <td>17.00</td>
                        <td>37.00</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/2/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">3</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/3" target="_blank">นายจิรภัทร พูลประภา</a>
                        </td>
                        <td>AppVira</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="3" data-camp="camp_app" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>5.00</td>
                        <td>3.17</td>
                        <td>20.00</td>
                        <td>38.17</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/3/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">5</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/5" target="_blank">นายวิศรุต กิตติเจริญพรงาม</a>
                        </td>
                        <td>GamePersky</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="5" data-camp="camp_game" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>6.00</td>
                        <td>3.50</td>
                        <td>15.67</td>
                        <td>35.17</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/5/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">6</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/6" target="_blank">นายมารุต บุญก่อเกื้อ</a>
                        </td>
                        <td>IoTSecure</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="6" data-camp="camp_iot" data-state="RESERVE" disabled="">
                            <option value="SELECT">SELECT</option>
                            <option value="RESERVE" selected="">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>5.00</td>
                        <td>2.83</td>
                        <td>12.00</td>
                        <td>29.83</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/6/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">7</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/7" target="_blank">นายธนาทร เรืองอารี</a>
                        </td>
                        <td>AppVira</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="7" data-camp="camp_app" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>6.00</td>
                        <td>2.00</td>
                        <td>17.33</td>
                        <td>35.33</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/7/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">8</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/8" target="_blank">นางสาวภันทิลา ปีสาทุม</a>
                        </td>
                        <td>DataScan</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="8" data-camp="camp_datasci" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>7.00</td>
                        <td>3.00</td>
                        <td>17.67</td>
                        <td>37.67</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/8/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">9</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/9" target="_blank">นางสาวฐิติรัตน์ จั่นพะระศรี</a>
                        </td>
                        <td>DataScan</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="9" data-camp="camp_datasci" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>6.00</td>
                        <td>2.83</td>
                        <td>18.33</td>
                        <td>37.17</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/9/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="odd" role="row">
                        <td class="sorting_1">10</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/10" target="_blank">นายศรัณวิชญ์ พงษ์ศักดิ์ธนา</a>
                        </td>
                        <td>NetworkTon</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="10" data-camp="camp_network" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>6.00</td>
                        <td>1.83</td>
                        <td>15.33</td>
                        <td>33.17</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/10/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                      <tr class="even" role="row">
                        <td class="sorting_1">11</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/applicant/11" target="_blank">นายณัฐพล ไชยศิริวัฒนะกุล</a>
                        </td>
                        <td>DataScan</td>
                        <td>
                          <select class="form-control update-app-state" data-applicantid="11" data-camp="camp_datasci" data-state="SELECT" disabled="">
                            <option value="SELECT" selected="">SELECT</option>
                            <option value="RESERVE">RESERVE</option>
                            <option value="REJECT">REJECT</option>
                          </select>
                        </td>
                        <td>10.00</td>
                        <td>6.00</td>
                        <td>2.00</td>
                        <td>18.00</td>
                        <td>36.00</td>
                        <td>
                          <a href="http://itcamp.in.th/13/backend/account/applicant/11/update" class="btn btn-success" target="_blank">ดู User</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 258 entries</div>
                </div>
                <div class="col-sm-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                    <ul class="pagination">
                      <li class="paginate_button previous disabled" id="DataTables_Table_0_previous">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Previous</a>
                      </li>
                      <li class="paginate_button active">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                      </li>
                      <li class="paginate_button ">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a>
                      </li>
                      <li class="paginate_button ">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a>
                      </li>
                      <li class="paginate_button ">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">4</a>
                      </li>
                      <li class="paginate_button ">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0">5</a>
                      </li>
                      <li class="paginate_button disabled" id="DataTables_Table_0_ellipsis">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0">…</a>
                      </li>
                      <li class="paginate_button ">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0">26</a>
                      </li>
                      <li class="paginate_button next" id="DataTables_Table_0_next">
                        <a href="https://itcamp.in.th/13/backend/select#" aria-controls="DataTables_Table_0" data-dt-idx="8" tabindex="0">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
  </div>
</template>

<script>
export default {
  name: 'Backend_Choose_Applicant'
};
</script>

<style>

</style>
