<template>
  <div class="backend-question-camp">
      <section class="content-header">
        <h1>
          จัดการคำถาม
          <small>คำถามค่าย</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">



        <div class="box box-solid box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">กล่องควบคุม</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-4">
                <!-- small box -->
                <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>31</h3>

                    <p>จำนวนคำถามทั้งหมด</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-android-document"></i>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <!-- small box -->
                <div class="small-box bg-red">
                  <div class="inner">
                    <h3>1</h3>

                    <p>จำนวนคำถามประธานค่าย</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-android-list"></i>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <!-- small box -->
                <div class="small-box bg-green">
                  <div class="inner">
                    <h3>2</h3>

                    <p>จำนวนคำถามสันทนาการ</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-ios-body"></i>
                  </div>
                </div>
              </div>
              <div class="col-15-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-blue">
                  <div class="inner">
                    <h3>5</h3>

                    <p>AppVira</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-social-codepen"></i>
                  </div>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-15-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box" style="background-color: #d35400; color: white;">
                  <div class="inner">
                    <h3>6</h3>

                    <p>GamePersky</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-ios-football"></i>
                  </div>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-15-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-purple">
                  <div class="inner">
                    <h3>5</h3>

                    <p>NetworkTon</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-wifi"></i>
                  </div>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-15-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-teal">
                  <div class="inner">
                    <h3>6</h3>

                    <p>GamePersky</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-outlet"></i>
                  </div>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-15-lg-3 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-maroon">
                  <div class="inner">
                    <h3>5</h3>

                    <p>DataScan</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-cube"></i>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <a href="http://itcamp.in.th/13/backend/question/camp/create" class="btn btn-success">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> เพิ่มคำถามใหม่</a>
              </div>
            </div>
          </div>
        </div>

        <div class="box box-default">
          <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="70">Priority</th>
                  <th>ID</th>
                  <th>คำถาม</th>
                  <th width="150">ของฝ่าย</th>
                  <th width="80">แก้ไข</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1000</td>
                  <td>q_recreation_1_f</td>
                  <td>พี่อยากให้น้อง ๆ เล่าเรื่องสิ่งที่คิดว่าตัวเองมีความสุขที่สุดและแนะนำตัวเองให้น่าสนใจมากที่สุด พร้อมถ่ายรูปที่คิดว่าตัวเองบ้าที่สุดมา
                    1 รูป</td>
                  <td>สันทนาการ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_recreation_1_f/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>999</td>
                  <td>q_recreation_1_d</td>
                  <td>[สำหรับอธิบาย]</td>
                  <td>สันทนาการ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_recreation_1_d/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>500</td>
                  <td>q_head_1</td>
                  <td>ถ้าน้องมีเงินในบัญชี 10,000 บาท น้อง ๆ จะนำเงินจำนวนนี้ไปทำอะไรบ้าง เพราะอะไร?</td>
                  <td>ประธานค่าย</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_head_1/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>499</td>
                  <td>q_head_2</td>
                  <td>ถ้าน้องประดิษฐ์ของขึ้นมาหนึ่งอย่างมันใช้เวลาน๊านนานหลายวันเลยกว่าน้องจะทำมันเสร็จ แต่สุดท้ายเมื่อสร้างเสร็จ
                    น้องเองได้ลองเช็คดูปรากฏว่า….. มันกลับเกิดข้อบกพร่องขึ้นมาโดยที่น้องเองก็ไม่รู้ว่ามันเกิดขึ้นได้ยังไง
                    น้องจะทำอย่างไรกับของชิ้นนี้?</td>
                  <td>รองประธานค่าย</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_head_2/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>100</td>
                  <td>q_app_1</td>
                  <td>น้องลองบอก Application ที่น้องเคยใช้และชอบมากที่สุดมาหน่อย เพราะอะไร?</td>
                  <td>ค่ายแอพ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_app_1/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>99</td>
                  <td>q_app_2</td>
                  <td>น้องมีพื้นฐานในการเขียนโปรแกรมภาษาอะไรบ้าง ถ้ามีลองยกตัวอย่างและบอกข้อดีข้อเสียของมันหน่อยครับ</td>
                  <td>ค่ายแอพ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_app_2/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>98</td>
                  <td>q_app_3</td>
                  <td>ระหว่างพัฒนา Application ลง IOS กับ Android น้องจะพัฒนาลงใน Platform ใด เพราะอะไร?</td>
                  <td>ค่ายแอพ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_app_3/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>97</td>
                  <td>q_app_4</td>
                  <td>ถ้าในอนาคตอีกสัก 20 ปีข้างหน้า แล้วเทคโนโลยีก้าวหน้าไปยาวมว๊ากกกกกกกก (ลองจินตนาการดูนะ) พี่อยากรู้ว่าน้องอยากจะสร้าง
                    Application อะไร และเพราะอะไร?</td>
                  <td>ค่ายแอพ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_app_4/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>96</td>
                  <td>q_app_5</td>
                  <td>ให้น้องไปศึกษาภาษาโปรแกรมมิ่งที่ชื่อว่า Asciimo มาแล้วบอกรายละเอียดให้พี่ฟังหน่อยว่ามันคืออะไร?</td>
                  <td>ค่ายแอพ</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_app_5/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>80</td>
                  <td>q_game_1</td>
                  <td>ให้อธิบายเกมที่เคยเล่นมาแล้วชอบมากที่สุด ให้อธิบายให้พี่ ๆ ฟัง ว่าเกมนั้นเป็นอย่างไร สนุกอย่างไร (โดยเปรียบเสมือนว่าพี่ไม่เคยเล่นมากก่อน)
                    และน้องมีสิ่งใดที่อยากจะปรับปรุงเพิ่มเติมเกมนั้นให้ดียิ่งขึ้น</td>
                  <td>ค่ายเกม</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_game_1/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>79</td>
                  <td>q_game_2</td>
                  <td>ปัญหาการโหลดเกมเถื่อน (Pirating) เป็นปัญหาที่อยู่กับวงการเกมมานานและส่งปัญหาให้ผู้พัฒนาเกมมีรายได้น้อยลง
                    น้อง ๆ มีแนวทางการแก้ไขปัญหานี้อย่างไร</td>
                  <td>ค่ายเกม</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_game_2/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>78</td>
                  <td>q_game_3</td>
                  <td>จงเขียนเหตุผลที่ทำให้คอมพิวเตอร์เปิดไม่ติดมาให้มากที่สุด (เขียนเป็นข้อ)</td>
                  <td>ค่ายเกม</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_game_3/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>77</td>
                  <td>q_game_4</td>
                  <td>ให้น้อง ๆ ไปศึกษาค้นคว้าเกี่ยวกับภาษาโปรแกรมมิ่ง Scolo แล้วสรุปจุดเด่นจุดด้อยมาภายใน 140 ตัวอักษร</td>
                  <td>ค่ายเกม</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_game_4/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>76</td>
                  <td>q_game_5</td>
                  <td>ถ้าพี่มีเงิน 30000 บาท แล้วต้องการซื้อคอมใหม่มาสำหรับเล่นเกม พี่ควรจัดสเป็คคอมอย่างไร</td>
                  <td>ค่ายเกม</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_game_5/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>75</td>
                  <td>q_game_5_d</td>
                  <td>ให้น้องๆอธิบายสั้นๆว่าทำไมถึงเลือกชิ้นส่วนแต่ละชิ้น</td>
                  <td>ค่ายเกม</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_game_5_d/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>60</td>
                  <td>q_network_1</td>
                  <td>เทคโนโลยีที่น้องสนใจมากที่สุดในปีนี้คืออะไร เพราะเหตุใด?</td>
                  <td>ค่ายเน็ตเวิร์ค</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_network_1/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>59</td>
                  <td>q_network_2</td>
                  <td>น้องชอบเล่นเกมส์อะไร ? และเกมส์ที่เล่นสามารถนำมาปรับใช้ในชีวิตประจำวันได้หรือไม่ อย่างไร?</td>
                  <td>ค่ายเน็ตเวิร์ค</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_network_2/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>58</td>
                  <td>q_network_3</td>
                  <td>ถ้าน้องมีความรู้ความสามารถด้าน Network &amp; Security น้องจะทำการปรับใช้อย่างไรและคิดว่าจะนำไปใช้ประโยชน์ในด้านใดได้มากที่สุด</td>
                  <td>ค่ายเน็ตเวิร์ค</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_network_3/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>57</td>
                  <td>q_network_4</td>
                  <td>ในความเข้าใจของน้อง คิดว่าการที่เราจะทำการส่งข้อมูลผ่าน email ต้องผ่านการทำงานอะไรบ้าง (เช่น Device , System,
                    Protocol และอื่นๆ ) อธิบายคร่าวๆ</td>
                  <td>ค่ายเน็ตเวิร์ค</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_network_4/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>56</td>
                  <td>q_network_5</td>
                  <td>หากปัจจุบันนี้ยังไม่มีอินเทอร์เน็ต น้องๆจะแก้ปัญหาการส่งข้อมูลระหว่างคอมพิวเตอร์อย่างไร เพราะเหตุใดจึงใช้หลักการที่นั้นและวิธีการที่ใช้มีความปลอดภัยอย่างไร?</td>
                  <td>ค่ายเน็ตเวิร์ค</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_network_5/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>40</td>
                  <td>q_iot_1</td>
                  <td>สำหรับน้องแล้ว IoT คืออะไร</td>
                  <td>ค่ายไอโอที</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_iot_1/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>39</td>
                  <td>q_iot_2</td>
                  <td>ถ้าน้องเกิดในยุคสมัยที่ไม่มีเทคโนโลยีก้าวหน้าอยู่เลย น้องจะเป็นคนเปลี่ยนแปลงยุคสมัยนั้นไหมและเปลี่ยนแปลงอย่างไร</td>
                  <td>ค่ายไอโอที</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_iot_2/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>38</td>
                  <td>q_iot_3</td>
                  <td>ถ้ามีคนสองคนมาขออาหารจากน้องๆ โดยมีสภาพเลอะเทอะมอมแมม น้องๆจะทำยังไง</td>
                  <td>ค่ายไอโอที</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_iot_3/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>37</td>
                  <td>q_iot_4</td>
                  <td>หากน้องสามารถนำความรู้ IoT ที่ได้จากค่ายไปสร้างนวัตกรรมได้ 1 ชิ้น น้องจะสร้างอะไร ให้น้องบรรยายถึงนวัตกรรมนั้นพร้อมบอกเหตุผล</td>
                  <td>ค่ายไอโอที</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_iot_4/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>36</td>
                  <td>q_iot_5</td>
                  <td>นาย A เป็นเด็กนักเรียน ม.6 ของโรงเรียนแห่งหนึ่ง ถ้าเป็นวันจันทร์, อังคาร, พุธ นาย A จะไปโรงเรียนโดยการนั่งรถเมล์
                    ถ้าเป็นวันพฤหัสบดี จะไปโดยให้พ่อขับรถไปส่ง ถ้าเป็นวันศุกร์จะเดินไปและในวันที่เดินไป หากนาย A หิว นาย
                    A จะแวะกินก๋วยเตี๋ยวที่หน้าโรงเรียน จงเขียน Flow Chart ของเหตุการณ์นี้</td>
                  <td>ค่ายไอโอที</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_iot_5/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>35</td>
                  <td>q_iot_5_d</td>
                  <td>[สำหรับอธิบายเพิ่มเติม]</td>
                  <td>ค่ายไอโอที</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_iot_5_d/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>q_datasci_2</td>
                  <td>หากอาทิตย์หน้ามีการสอบตรงเข้ามหาลัยที่อยากเข้าเรียนมาก แต่วันนั้นตรงกับวันสอบปลายภาคของโรงเรียน หากน้องเจอเหตุการณ์นี้เกิดขึ้นกับตัวเอง
                    น้องจะแก้ไขสถานการณ์อย่างไร</td>
                  <td>ค่ายดาต้าไซน์</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_datasci_2/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>q_datasci_5</td>
                  <td>หากน้องเป็นไอรอนแมน ในช่วงบั้นปลายชีวิตสุดท้าย ซึ่งเวลามันช่างน้อยนิด น้องอยากจะทำอะไร เพื่อให้เกิดประโยชน์สูงสุดกับคนรุ่นหลัง
                    พี่ขอตัวอย่างกี่ข้อก็ได้และอธิบายการกระทำแต่ละข้อให้ด้วยนะครับ</td>
                  <td>ค่ายดาต้าไซน์</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_datasci_5/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>q_datasci_3</td>
                  <td>น้องเคยมีประสบการณ์ทำการทดลองที่จะต้องใช้สถิติในการวิเคราะห์ผลการทดลองไหมครับ ถ้ามีช่วยเล่ารายละเอียดคราวๆให้ฟังหน่อยครับ
                    แต่ถ้าหากไม่เคยทดลองมาก่อน น้องคิดว่าอยากจะทดลองเกี่ยวกับอะไร และจะใช้สถิติอะไรในการวิเคราะห์ผล</td>
                  <td>ค่ายดาต้าไซน์</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_datasci_3/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>q_datasci_4</td>
                  <td>เวลาที่น้อง เล่นโซเชียลมีเดียต่างๆ (Facebook, Twitter, Line และอื่นๆ) น้องเคยเกิดความสงสัยหรือเกิดคำถามอะไรก็ได้
                    โดยอาจจะเกี่ยวกับตัวน้องเอง ตัวเพื่อนๆ หรือสิ่งใดๆรอบตัว น้องคิดว่าจะสามารถนำข้อมูลที่อยู่บนโซเชียลมีเดียมาวิเคราะห์ตอบข้อสงสัยของน้องได้หรือไม่
                    (จงอธิบายข้อสงสัยโดยคร่าวๆ และอธิบายว่าข้อมูลอะไรจะสามารถตอบข้อสงสัยนั้นได้)</td>
                  <td>ค่ายดาต้าไซน์</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_datasci_4/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>q_datasci_1</td>
                  <td>หากน้องเป็น Data Scientist แล้วมีอยู่วันหนึ่งชาวประมงจากเกาะฮอกไกโด นั่งเรือมาเพื่อปรึกษาเกี่ยวกับจำนวนปลาทูน่าบริเวณอ่าวไทยในช่วงระยะเวลา
                    100 ปีที่ผ่านมา ว่ามีความน่าลงทุนต่อการนั่งเรือมาจับปลาชนิดนี้ไหม เพื่อนำไปทดแทนปลาแซลมอนในประเทศญี่ปุ่น
                    น้องจะมีวิธีการให้คำปรึกษาแก่ชาวประมงท่านนี้อย่างไร (สามารถตอบได้อย่างอิสระตามความเข้าใจของน้อง)</td>
                  <td>ค่ายดาต้าไซน์</td>
                  <td>
                    <a href="http://itcamp.in.th/13/backend/question/camp/q_datasci_1/update" class="btn btn-info btn-flat btn-sm">
                      <i class="fa fa-wrench" aria-hidden="true"></i> แก้ไข</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </section>
  </div>
</template>

<script>
export default {
  name: 'Backend_Question_Camp'
};
</script>

<style>

</style>
