<template>
  <div class="app-body">
    <div class="block">
      <router-view />
    </div>
  </div>
</template>

<script>
import '@scss/layouts/body.scss';
export default {
  name: 'Body'
};
</script>

<style>

</style>
