.app-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.app-header {
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4 !important;
  .block li {
    transition: opacity 0.3s ease;
  }
  .block li:hover:not(:last-child):not(:first-child) {
    opacity: 0.8;
  }
  .space {
    padding: 5px 14vw;
    // padding: 5px 10vw;
    background: rgb(255, 255, 255);

    li {
      list-style-type: none;
      text-align: center;
      vertical-align: middle;
      line-height: 60px;
      cursor: pointer;
      a {
        color: $color-dark;
        span {
          font-size: 16px;
          vertical-align: middle;
          display: inline-block;
          line-height: normal;
        }
        span:not(.brand) {
          font-weight: bold;
        }
      }
    }
    .brand {
      span {
        font-size: 3vw;
      }
    }
    .menu-bar {
      .wrapper-menu {
        z-index: 4;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
      }
      .wrapper-menu.open {
        position: fixed;
        top: 5vh;
        right: 6vw;
      }
    }
  }
  .nav-full.active {
    display: block !important;
  }
  .nav-full {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 20, 0.9);
    .block {
      text-align: center;
      list-style-type: none;
      // background: #ccc;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 82vw;
      // height: 80vh;
      padding: 5vh;
      li {
        cursor: pointer;
        padding: 5vh 10px;
        transition: transform 0.3s;
        span {
          font-size: 3vh;
          font-weight: 700;
          color: $color-white;
          transition: color 0.3s;
        }
      }
      li:hover {
        transform: translateY(-5px);
        span {
          color: $color-red;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .app-header {
    .space {
      padding: 1vh 6vw !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .app-header {
    .brand {
      span {
        font-size: 25px !important;
      }
    }
    .sm-none {
      display: none;
      visibility: hidden;
    }
  }
  .d-menu {
    display: none;
  }
}
