<template>
    <div class="annou-block">
        <div class="row">
            <div class="col-12 col-md-7">
                <transition name="annou" mode="out-in">
                    <div v-if="annou.id===currentPerson" :class="['annou-content', 'person'+annou.id]" v-for="annou in annou_data" :key="annou.id">
                        <div class="content-head">
                            {{ annou.name }}
                            <br>
                            <br>
                        </div>
                        <div class="content-body">
                            {{ annou.content }}
                        </div>
                        <div class="content-sub">
                            <span v-for="(sub, index) in annou.sub" :key="index">
                                {{ sub }}<br>
                            </span>
                        </div>
                    </div>
                </transition>
                <div class="annou-menu">
                    <ul class="row">
                        <li :class="['col', 'pl-0', {'active': currentPerson===1}]" id="person1">
                            <img @click="handlePersonChange(1)" src="../../../assets/images/apprec/head-01.jpg">
                        </li>
                        <li :class="['col', 'pl-0', 'pr-0', {'active': currentPerson===2}]" id="person2">
                            <img @click="handlePersonChange(2)" src="../../../assets/images/apprec/head-02.jpg">
                        </li>
                        <li :class="['col', {'active': currentPerson===3}]" id="person3">
                            <img @click="handlePersonChange(3)" src="../../../assets/images/apprec/head-03.jpg">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md d-none d-md-block annou-img">
                <transition name="annou" mode="out-in">
                    <div v-if="currentPerson===index" v-for="index in 3" :key="index" :class="['person'+index+1, 'annou-img-sub', {'active': index===currentPerson}]">
                        <img :src="require('../../../assets/images/apprec/full-0'+(index)+'.jpg')">
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'AnnouBlock',
  data() {
    return {
      annou_data: [
        {
          id: 1,
          name: 'วีรภัทร ทรัพย์สมบูรณ์ (พี่ขนมจีน)',
          content:
            'เป็นค่ายแรกและค่ายเดียวที่ได้เข้าร่วมช่วงมัธยมปลาย เป็นค่ายที่ได้มาเจอคนที่ “พูดภาษาเดียวกันกับเรา” และพูดอะไรไปก็มีแต่คนเข้าใจในสิ่งที่เราพูด                        ซึ่งเพื่อน ๆ ร่วมค่ายเป็นคนที่มีปณิธานอันแรงกล้าที่จะมาเรียนรู้สิ่งใหม่ ๆ ที่พี่ ๆ แต่ละค่ายย่อยต่างบรรจงพิสมัยคัดสรรแต่เนื้อหาที่สามารถนำไปประยุกต์ใช้ได้จริง                        (ทำให้เกิดรายได้) ในโลกปัจจุบันและอนาคต หากน้อง ๆ กำลังลังเล หรือรั้งรอว่าจะสมัครดีมั้ย บอกเลยว่าน้องกำลังพลาดโอกาสอันดีงามพันเลิศที่จะได้ลิ้มลองรสชาติของการพิสูจน์ตัวตนว่าเรานั้นคู่ควรเหมาะสมแก่การเข้าเรียนที่                        IT KMITL หรือไม่ มาให้คุ้กกี้ทำนายกันเถอะ!!',
          sub: ['IT Camp 11 - น้องค่าย Amazing Network', 'ปัจจุบัน นักศึกษาคณะเทคโนโลยีสารสนเทศ สจล. ชั้นปีที่ 2']
        },
        {
          id: 2,
          name: 'ธนมณฑ์ ตันศิริเสริญกุล (พี่มน)',
          content:
            'หากน้องๆ กำลังลังเลว่าการเลือกเดินทางมาสายเทคโนโลยีนั้น มัน "ใช่" สำหรับเราจริงๆ รึเปล่า พี่ก็เคยเป็นเด็กคนหนึ่งที่มาค่าย "ไอทีแคมป์" เพื่อพิสูจน์ตัวเอง แล้วก็ได้รู้ว่าช่วงเวลา 4 วัน 3 คืนที่มาอยู่ค่ายนี้ นอกจากจะได้เรียนรู้สิ่งใหม่ๆ ที่โรงเรียนไม่ได้สอน ยังได้มาใช้เวลาอยู่ร่วมกับคนอื่น อยู่กับเพื่อนที่ชอบอะไรเหมือนกัน คุยในเรื่องเดียวกัน ได้ทำกิจกรรมร่วมกันทั้งในห้องเรียน และนอกห้องเรียน ที่ประทับใจมากที่สุดก็คงเป็นบรรยากาศภายในค่ายที่อบอุ่นเหมือนเราเป็นหนึ่งในครอบครัวไอที ลาดกระบังจริง ๆ พูดเยอะไปจะหาว่าโม้ต้องเข้าค่ายนี้ซักครั้ง แล้วจะรู้ว่าที่พี่พูดมันเป็นความจริงรึเปล่า',
          sub: [
            'IT Camp 10 - น้องค่าย Wow ! Modern Application',
            'IT Camp 12 - พี่ค่าย Applicationosaurus',
            'IT Camp 13 - พี่ค่าย Appvira และฝ่ายประชาสัมพันธ์',
            'ปัจจุบัน นักศึกษาคณะเทคโนโลยีสารสนเทศ สจล. ชั้นปีที่ 3'
          ]
        },
        {
          id: 3,
          name: 'กนกวรรณ มุตตามระ (พี่กลอย)',
          content:
            '"IT Camp” เป็นค่ายที่น้อง ๆ จะได้มาเรียนรู้ ใช้ชีวิตและสัมผัสบรรยากาศจริงในคณะเทคโนโลยีสารสนเทศของเรา สำหรับน้อง ๆ หลายคนที่กำลังสนใจในเทคโนโลยี หรือต้องการเข้ามามีส่วนร่วมในการพัฒนาไทยแลนด์ 4.0 ไอทีแคมป์ถือเป็นค่ายที่ตอบโจทย์ได้เป็นอย่างดีเลยทีเดียว ซึ่งค่ายนี้ไม่ได้รับแต่น้อง ๆ ม. 6 เท่านั้น น้อง ๆ ม.4 - 5 หรือ ปวช. ชั้นปีที่ 1-2 ที่ยังไม่รู้ว่าเราชอบอะไร หรือต้องการค้นหาตัวตนของเราเอง การมาลองเข้าค่ายถือเป็นอีกหนึ่งวิธีที่จะทำให้น้อง ๆ รู้จักตัวเองมากขึ้น นอกเหนือจากความรู้ที่อัดแน่นแล้ว น้อง ๆ จะได้รับมิตรภาพ และประสบการณ์ดี ๆ ทั้งจากเพื่อนค่ายและพี่ ๆ ไอทีลาดกระบังแน่นอนค่ะ ^^',
          sub: [
            'IT Camp 10 - พี่ค่าย',
            'IT Camp 11 - รองประธานค่าย',
            'IT Camp 12, 13 - ที่ปรึกษาค่าย',
            'Software and Process Developer บริษัท Yannix (Thailand) Co., Ltd.',
            'Education Consultant และ Talented Educator บริษัท บอร์นทูเดฟ จำกัด'
          ]
        }
      ],
      currentPerson: 1
    };
  },
  methods: {
    handlePersonChange(id) {
      this.currentPerson = id;
    }
  }
};
</script>

<style lang="scss" scoped>
.annou-enter-active,
.annou-leave-active {
  transition: opacity 0.5s;
}
.annou-enter,
.annou-leave-to {
  opacity: 0;
}
</style>
