<template>
    <div class="space card-container" :style="{'padding-left': useThisPadding}">
        <div @click="goPrev()" class="arrow-prev">
            <img :src="require('../../../assets/images/frontend/prev.svg')">
        </div>
        <div @click="goNext()" class="arrow-next">
            <img :src="require('../../../assets/images/frontend/next.svg')">
        </div>
        <div class="card-slider">
            <div :class="['card', {'focus': index+1 == current}]" v-for="(img, index) in imgs" :key="index">
                <img class="card-img-top" :src="img.link">
                <div class="card-body">
                    <p class="card-text">{{ img.desc }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'ImageSlide',
  data () {
    return {
        imgs: [
            {link: require('../../../assets/images/highlight/01.jpg'), desc: 'กล้องมาวางงานแพร๊บ'},
            {link: require('../../../assets/images/highlight/02.jpg'), desc: 'เอ้า 3 4! Dabbb'},
            {link: require('../../../assets/images/highlight/03.jpg'), desc: 'มิตรภาพง่ายๆ เริ่มที่โต๊ะอาหาร'},
            {link: require('../../../assets/images/highlight/04.jpg'), desc: 'เหล่า Dataward หยิบไม้กายสิทธิ์ขึ้นมาซะ'},
            {link: require('../../../assets/images/highlight/05.jpg'), desc: 'เมื่อเพื่อนทำงานเสร็จคนแรก'},
            {link: require('../../../assets/images/highlight/06.jpg'), desc: 'หมวกคัดสรรให้ฉันอยู่กริฟฟินดอร์'},
            {link: require('../../../assets/images/highlight/07.jpg'), desc: 'ยากกว่า project ก็ท่าน้องแล้ว'}
        ],
        current: 1,
        cardMax: 0,
        hlCard: null,
        hlContainer: null,
        step: 0
    }
  },
  mounted () {
        this.hlCard = $('.section5 .card-img-top')
        this.hlContainer = $('.card-slider')
        this.cardMax = this.imgs.length
        this.step = this.hlCard.width()+30
        window.addEventListener('resize', function(){
          this.resizeCard
        })
  },
  computed: {
      useThisPadding() {
          return this.padding+"px!important"
      }
  },
  methods: {
      resizeCard() {
          this.step = this.hlCard.width()+30
      },
      goPrev () {
        if (this.current == 1) return
        this.current--
        let shift = (this.step*this.cardMax)-(this.cardMax-this.current+1)*this.step
        $(this.hlContainer).finish().animate({
          right: shift +'px'
        });
      },
      goNext () {
        if (this.current == this.cardMax) return
        $(this.hlContainer).finish().animate({
          right: this.step*this.current +'px'
        });
        this.current++
      }
  }
}

</script>

<style lang="scss" scoped>
  .card {
    &:first-child {
      margin-left: 70px
    }
    &:last-child {
      margin-right: 70px
    }
    transition: 0.2s ease!important;
    transform: scale(1);
  }
  .focus {
    transform: scale(1.05);
  }
</style>

