<template>
    <a :href="url">
        <div class="col">
            <img :src="require('../../../assets/images/social/'+img)">
        </div>
    </a>
</template>

<script>
export default {
  name: 'SocialBox',
  props: ['url', 'img']
}
</script>
