.announce-block {
  .announce-head {
    padding: 10px;
    text-align: center;
    background-color: $color-dark;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .announce-body {
    min-height: 200px;
    max-height: 450px;
    overflow-y: scroll;
    padding: 10px;
    background-color: $color-white;
    color: $color-black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .announce-item {
      padding-bottom: 7px;
      box-shadow: 0 1px 0 0 rgba($color-dark, $alpha: 0.3);
      .nameList-num {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: $color-gray;
        color: $color-white;
        font-weight: bold;
      }
    }
  }
}

.announce-button {
  margin: 30px 0;
  margin-bottom: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .button-border {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px 5.5px;
    background-color: $color-white;
    box-shadow: 0 0 0 5px rgba($color-dark, $alpha: 0.3);

    .button-core {
      border-radius: 50px;
      background-color: $color-white;
      border: 1px solid $color-gray;
      padding: 5px 20px;
      color: $color-dark;
    }

    &:hover {
      box-shadow: 0 0 0 7px rgba($color-dark, $alpha: 0.2);
      transform: translateY(-1px);
    }
    &:focus,
    &:active {
      box-shadow: 0 0 0 3px rgba($color-dark, $alpha: 0.5);
      transform: translateY(2px);
    }
  }
}
