.separator-top,
.separator-button {
  z-index: 2 !important;
}
.star-float {
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  z-index: 3 !important;
  img {
    width: 100%;
  }
}

.star-green {
  width: 20vw;
  bottom: -10vh;
  right: -6vw;
}
.star-02 {
  width: 15vw;
  bottom: 15vh;
  left: 3vw;
  transform: rotate(-45deg);
}
.star-03 {
  width: 15vw;
  top: 120vh;
  left: 5vw;
  filter: blur(5px);
}
.star-04 {
  width: 20vw;
  bottom: 70vh;
  right: 3vw;
  transform: rotate(-25deg);
}
.star-05 {
  width: 25vw;
  bottom: -130vh;
  left: -10vw;
}
.star-06 {
  width: 25vw;
  top: -110vh;
  right: -2vw;
}
.star-07 {
  width: 25vw;
  top: 70vh;
  left: -10vw;
}
.star-08 {
  width: 15vw;
  top: 100vh;
  left: -3vw;
  transform: rotate(20deg);
}

.star-09 {
  width: 15vw;
  top: -100vh;
  left: -3vw;
  transform: rotate(20deg);
}

// @media only screen and (min-width: 992px) {
//   .star-float {
//     display: none;
//   }
// }
